/* [display] */
.d--flex {
    display: flex;
}

/* [display:flex] */
.flex--col {
    flex-direction: column;
}

.justify--center {
    justify-content: center;
}

.justify--between {
    justify-content: space-between;
}

.justify--around {
    justify-content: space-around;
}

.justify--evenly {
    justify-content: space-evenly;
}

.align--center {
    align-items: center;
}

.gap--xs {
    gap: 0.5rem;
}

.gap--sm {
    gap: 1rem;
}

/* [spacing] */
.pd--2xs {
    padding: var(--space-2xs);
}
.pd--xs {
    padding: var(--space)
}

.pd--sm {
    padding: var(--space-1)
}

.pd--top {
    padding-top: var(--space);
}

.pd--top--1 {
    padding-top: var(--space-1)
}

.pd--top--2 {
    padding-top: var(--space-2)
}

.mg--top--0 {
    margin-top: var(--space);
}

.mg--top--1 {
    margin-top: var(--space-1);
}

.mg--bottom--2 {
    margin-bottom: var(--space-2);
}

/* [spacing: fonts] */
.line--height--md {
    line-height: 1.5;
}
/* [fonts] */
.ff--title {
    font-family: var(--ff-title);
}

.ff--common {
    font-family: var(--ff-common);
}

.fs--xs {
    font-size: 0.75rem;
}

.fs--sm {
    font-size: 0.875rem;
}

.font--italic {
    font-style: italic;
}

/* [colors] */
/* background */
.bg--transparent {
    background-color: transparent;
}

.bg--primary {
    background:hsl(var(--clr-primary));
}

.bg--secondary {
    background:hsl(var(--clr-secondary));
}

.bg--yellow {
    background: hsl(var(--clr-yellow))
}

.bg--red {
    background: hsl(var(--clr-red))
}

.bg--purple {
    background: hsl(var(--clr-purple));
}

.bg--icon {
    background:hsl(var(--clr-icon));
}

.bg--white {
    background-color: hsl(var(--clr-white));
}

/* text */
.text--white {
    color:hsl(var(--clr-white));
}

.text--black {
    color: hsl(var(--clr-black));
}

.text--light--black {
    color: hsl(var(--clr-border-1));
}

.text--red {
    color: hsl(var(--clr-red));
}

.text--yellow--comp {
    color: hsl(var(--clr-yellow-complement));
}

.text--purple--comp {
    color: hsl(var(--clr-purple-complement));
}

.text--blue--comp {
    color: hsl(var(--clr-blue-complement));
}

.text--red--comp {
    color: hsl(var(--clr-red-complement));
}

.text--green--comp {
    color: hsl(var(--clr-green-complement));
}
/* border */
.border--none {
    border: none;
}

.border--black--1 {
    border: 1px solid hsl(var(--clr-border-1));
}

.border--black--2 {
    border: 1px solid hsl(var(--clr-border-1));
}

.border--green {
    border: 1px solid hsl(var(--clr-green));
}

.border--yellow {
    border: 1px solid hsl(var(--clr-yellow));
}

.border--purple {
    border: 1px solid hsl(var(--clr-purple));
}

.border--blue {
    border: 1px solid hsl(var(--clr-blue));
}

.border--red {
    border: 1px solid hsl(var(--clr-red));
}

/* [border] */
/* border-radius */

.border-radius--1 {
    border-radius: 5px;
}

.border-radius--2 {
    border-radius: 10px;
}

.border--radius--3 {
    border-radius: 30px;
}

.border--radius--circle {
    border-radius: 50%;
}

/* [position] */
.ps--relative {
    position: relative;
}

.ps--absolute {
    position: absolute;
}

/* [component specific] */

/* [pill] */
.pill {
    font-size: 0.75rem;
    padding: 0.5rem;
    border-radius: 5px;
}

/* [svg] */
.svg--lg {
    width: 30px;
    height: 30px;
}

